/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {

  .professional-section__project_img_sm-riser {
    height: 0;
    margin: 0 auto .5em auto;
    padding-bottom: 39%;
    position: relative;
  }

}