.additional-sample__text {
  color: #000;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin-block-end: 24px;
  margin-block-start: 16px;
  margin-inline-end: 0;
  margin-inline-start: 0;
}