@media (max-width: 575.98px) {

  .widescreen-project_name_acura-of-tempe_img_sm {
    background: url(576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}