@media (max-width: 575.98px) {

  .widescreen-project__img_sm {
    -webkit-box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .3);
            box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .3);
    height: 0;
    padding-bottom: 39%;
    position: absolute;
    top: -20px;
    width: 100%;
  }

}