.footer__icon_effects {
  -webkit-animation-duration: 1000ms;
          animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: footer__icon_effects;
          animation-name: footer__icon_effects;
}

.footer__icon {
  opacity: 0; /* Invisible before animations are triggered */
}

.footer__icon.footer__icon_effects {
  opacity: 1; /* Remains visible after animations are complete */
}



/* fadeInUp */
@-webkit-keyframes footer__icon_effects {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}

@keyframes footer__icon_effects {

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }

}