.additional-sample__backboard {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, .3);
  margin: 0 auto 100px auto;
  padding-bottom: 16px;
  width: 95%;
}