.header__text-overlay {
  height: auto;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  width: 100%;
}