.professional-section__heading_title-text {
  color: #808080;
  display: inline;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.professional-section__heading_title-text::before,
.professional-section__heading_title-text::after {
  border-top: 1px solid #555;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}

.professional-section__heading_title-text::before {
  margin-right: 20px;
  right: 100%;
}

.professional-section__heading_title-text::after {
  left: 100%;
  margin-left: 1rem;
}