@media (max-width: 575.98px) {

  .additional-sample__img_my-portfolio {
    background-image: url(576x227-min.jpg);
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  }

}

@media (min-width: 576px) {

  .additional-sample__img_my-portfolio {
    background-image: url(768x302-min.jpg);
    /*background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  }

}