.additional-samples-section__project_author-site_effects {
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-name: additional-samples-section__project_author-site_effects;
}

/* fadeInUp */
@keyframes additional-samples-section__project_author-site_effects {

  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }

}




/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .additional-samples-section__project_author-site_effects {
    animation-delay: 300ms;
  }

}