.widescreen-project:last-child {
  margin-bottom: 0;
}

@media (max-width: 575.98px) {

  .widescreen-project {
    border-radius: 5px;
    -webkit-box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.3);
            box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.3);
    margin: 0 auto 100px auto;
    padding-bottom: 0;
    width: 95%;
  }

}

@media (min-width: 576px) {

  .widescreen-project {
    padding-bottom: 25px;
  }

}

@media (min-width: 768px) {

  .widescreen-project {
    padding-bottom: 50px;
  }

}

@media (min-width: 992px) {

  .widescreen-project {
    padding-bottom: 100px;
  }

}