.professional-section__project_title {
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin: 0;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .professional-section__project_title {
    color: #808080;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .professional-section__project_title {
    text-align: center;
  }

}