.professional-section__project_title {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  margin: 0;
  text-align: center;
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .professional-section__project_title {
    color: #808080;
  }

}