.widescreen-project_info-module {
  padding: 1em 0 0 0;
}

@media (min-width: 576px) {

  .widescreen-project_info-module {
    background: #fff;
    border: none;
    color: #000;
    margin: -3.5% auto 0 auto;
    padding: 1.5rem 2rem;
    width: 85%;
  }

}

@media (min-width: 992px) {

  .widescreen-project_info-module {
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: .5em;
    position: absolute;
    width: 40%;
  }
  
}