/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .professional-section__project_img_lg {
    height: 0;
    padding-bottom: 39%;
    position: relative;
    width: 100%;
  }
  
}