.footer__icon_link-box {
  margin-bottom: 3rem;
  opacity: 0; /* Invisible before animations are triggered */
  text-align: center;
}

.footer__icon_link-box.footer__icon_effects {
  opacity: 1; /* Remains visible after animations are complete */
}