.additional-sample__title {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

@media (min-width: 992px) {

  .additional-sample__title {
    font-weight: 400;
  }
  
}