.professional-section__heading {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, 1) 100%);
  padding: 1.5em 0 7em 0;
  width: 100%;
}




/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .professional-section__heading {
    padding: 1.5em 0 3.5em 0;
  }

}