.bio__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  margin: 0 0 1em 0;
  text-align: justify;
}

@media (min-width: 768px) {

  .bio__text {
    margin: 0 1em 1em 1em;
    padding-left: 1em;
  }

}