@media (max-width: 575.98px) {

  .widescreen-project_name_honda-new-rochelle {
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(_img/576x630-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
  }

}