/* https://type-scale.com/ */
/* Using Augmented Fourth: 1.414 ratio*/

/* FONT FAMILIES */
#project-container h2,
#project-container h3,
#project-container h4,
#project-container h5,
#project-container h6 {
  font-family: 'Lato', sans-serif;
}

body {
  font-family: 'PT Sans', sans-serif;
}

/* FONT SIZE RATIOS */
#project-container h2 {
  font-size: 3.998em;
}

#project-container h3 {
  font-size: 2.827em;
}

#project-container h4 {
  font-size: 1.999em;
}

#project-container h5 {
  font-size: 1.414em;
}

#project-container h6 {
  font-size: 1em;
}

#project-container p {
  font-size: 1rem;
}