body {
  font-size: .28125em; /* 4.5px */
}

#project-container h2,
#project-container h3,
#project-container h4,
#project-container h5,
#project-container h6 {
  color: #808080;
}

.main-name {
  display: block;
  font-weight: 300;
  letter-spacing: .25em;
  margin-bottom: .5em;
  text-shadow: .2em .2em .1em rgba(0, 0, 0, 0.5);
  z-index: 10;
}

/* H1 subheading and H2 */
.main-subheading {
  display: block;
  font-size: .707em; /* Calculated as a percentage of the H1, because it's in a span inside the H1 */
}

.main-subheading,
#project-container h2 {
  font-weight: 300;
  letter-spacing: .25em;
  text-shadow: .15em .15em .15em rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#project-container h2 {
  margin-bottom: 0;
  text-align: center;
  text-transform: uppercase;
}

.subsection-name-container {
  margin: 0 2em;
  overflow: hidden;
  text-align: center;
}

.subsection-name {
  display: inline;
  position: relative;
  text-transform: uppercase;
}

.subsection-name::before,
.subsection-name::after {
  border-top: 1px solid #555;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}

.subsection-name::before {
  margin-right: 20px;
  right: 100%;
}

.subsection-name::after {
  left: 100%;
  margin-left: 1rem;
}

.black-heading {
  background: #000;
  padding: 3rem 1rem;
}

#additional-samples-section h3 {
  margin-bottom: 0;
}

#project-container h4 {
  font-weight: 600;
}

.project-title-box h4 {
  margin-bottom: 0;
  text-align: center;
}

#project-container .additional-samples-project h4 {
  color: #000;
  text-align: center;
}






/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {

  /* Font size overrides for extra small only */
  #project-container h2 {
    font-size: 5em;
  }

  #project-container h3 {
    font-size: 4em;
  }

  #project-container h4 {
    font-size: 3.5em;
    margin-bottom: .5em;
  }

  #professional-section h4 {
    color: #fff;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  body {
    font-size: .53125em; /* 8.5px */
  }

}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {

  /* Font size override */
  #project-container h4 {
    font-size: 2.75em;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  body {
    font-size: .6875em; /* 11px */
  }

}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  body {
    font-size: .90625em; /* 14.5px */
  }

  #project-container .sample-info-module h4 {
    font-size: 1.5em;
  }

}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  body {
    font-size: 1em; /* 16px */
  }

}