body {
  font-size: .5em;
}

.wt-heading-container {
  color: var(--dark-gray);
  margin: 0 auto 1.5em auto;
  overflow: hidden;
  text-align: center;
  width: max-content;
}

#project-container .wt-heading-container p {
  font-size: 2.25em;
  text-transform: uppercase;
}

.wt-heading-container .sidelines {
  position: relative;
}

.wt-heading-container .sidelines::before,
.wt-heading-container .sidelines::after {
  border-top: 1px solid var(--dark-gray);
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.wt-heading-container .sidelines::before {
  margin-right: 15px;
  right: 100%;
}

.wt-heading-container .sidelines::after {
  left: 100%;
  margin-left: 15px;
}

#project-container h2 {
  font-weight: 300;
}

.objective h2,
.process h2 {
  border-bottom: 1px solid #fff;
}




/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  body {
    font-size: .55em;
  }

}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  body {
    font-size: .6em;
  }

}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  body {
    font-size: .7em;
  }

}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}