.professional-reference_flex-item {
  box-sizing: border-box;
  flex: 0 0 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 768px) {

  .professional-reference_flex-item {
    flex: 0 0 50%;
    max-width: 50%;
  }

}

@media (min-width: 1200px) {

  .professional-reference_flex-item {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

}