.header__walkthrough-icon {
  display: inline-block;
  height: var(--header-icon-size);
  margin: 0 2em 1em 0;
  position: relative;
  width: var(--header-icon-size);
  z-index: 2;
}

@media (min-width: 992px) {

  .header__walkthrough-icon {
    display: block;
    margin: 0;
    position: absolute;
  }

}