.portfolio__heading_title {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: .25em;
  margin-bottom: 0;
  text-align: center;
  text-shadow: .15em .15em .15em rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  z-index: 10;
}