@media (max-width: 575.98px) {

  .additional-sample__backboard_my-portfolio {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(center-crop-576x630-blur12px-min.jpg);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .additional-sample__backboard_my-portfolio {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(center-crop-768x840-blur12px-min.jpg);
  }

}

@media (min-width: 768px) {

  .additional-sample__backboard_my-portfolio {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(center-crop-576x630-blur12px-min.jpg);
  }

}