.additional-samples-section__project_my-portfolio_effects {
  animation-name: additional-samples-section__project_my-portfolio_effects;
}

/* fadeInUp */
@keyframes additional-samples-section__project_my-portfolio_effects {

  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }

}