.flexbox_layout_additional-samples {
  align-content: center;
  align-items: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 75px 0 0 0;
}

@media (min-width: 576px) {

  .flexbox_layout_additional-samples {
    padding: 100px 0 0 0;
  }

}