.professional-section__project_info-module_text {
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}




/* Bootstrap Breakpoints */
/* Small devices and up (above 576px) */
@media (min-width: 576px) {

  .professional-section__project_info-module_text {
    color: #000;
  }

}