.button_theme_primary {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #3c6221), color-stop(50%, #33531c), to(#213612));
  background-image: -webkit-linear-gradient(top, #3c6221 0, #33531c 50%, #213612 100%);
  background-image: -o-linear-gradient(top, #3c6221 0, #33531c 50%, #213612 100%);
  background-image: linear-gradient(to bottom, #3c6221 0, #33531c 50%, #213612 100%);
  background-position: left bottom;
  background-size: 100% 200%;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.button_theme_primary:hover,
.button_theme_primary:active {
  background-position: left top;
}

@media (max-width: 575.98px) {

  .button_theme_primary {
    margin-bottom: 2em;
  }

}