.button_theme_secondary {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9f9f9f), color-stop(50%, #5a5a5a), to(#292929));
  background-image: -webkit-linear-gradient(top, #9f9f9f 0, #5a5a5a 50%, #292929 100%);
  background-image: -o-linear-gradient(top, #9f9f9f 0, #5a5a5a 50%, #292929 100%);
  background-image: linear-gradient(to bottom, #9f9f9f 0, #5a5a5a 50%, #292929 100%);
  background-position: left top;
  background-size: 100% 200%;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.button_theme_secondary:hover,
.button_theme_secondary:active {
  background-position: left bottom;
}

@media (max-width: 575.98px) {

  .button_theme_secondary {
    margin-bottom: 2em;
  }

}

@media (min-width: 576px) {

  .left-btn {
    padding-right: 7.5px;
  }

  .right-btn {
    padding-left: 7.5px;
  }

}