.flexbox_layout_professional-references {
  align-content: center;
  align-items: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 4em 0;
}