.global-btn-box {
  margin-bottom: 1em;
  position: relative;
}

.global-btn {
  color: #fff;
  display: block;
  padding: 1em;
  text-align: center;
}

.cta-primary-btn-box {
  background: #213612;
  font-weight: bold;
  text-transform: uppercase;
}

.cta-secondary-btn-box {
  background: #808080;
}

.btn-box .fas,
.btn-box .fab {
  margin-right: .75em;
}