.global-btn-box {
  border-radius: 5px;
  margin-bottom: 1em;
  position: relative;
}

.global-btn {
  color: #fff;
  display: block;
  padding: 1em;
  text-align: center;
}

.cta-primary-btn-box {
  background-image: linear-gradient(to bottom, #3c6221 0, #33531c 50%, #213612 100%);
  background-position: left bottom;
  background-size: 100% 200%;
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;
}

.cta-primary-btn-box:hover,
.cta-primary-btn-box:active {
  background-position: left top;
}

.cta-secondary-btn-box {
  background-image: linear-gradient(to bottom, #9f9f9f 0, #5a5a5a 50%, #292929 100%);
  background-position: left top;
  background-size: 100% 200%;
  transition: .3s;
}

.cta-secondary-btn-box:hover,
.cta-secondary-btn-box:active {
  background-position: left bottom;
}

.btn-box .fas,
.btn-box .fab {
  margin-right: .75em;
}




/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .left-btn {
    padding-right: 7.5px;
  }

  .right-btn {
    padding-left: 7.5px;
  }

}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}