/*.additional-samples-project,*/
/*.footer-card,*/
#ed-barton-ref,
#anna-flom-ref,
#agnes-azaryan-ref,
#html-skill,
#css-skill,
#javascript-skill,
#bootstrap-skill,
#foundation-skill,
#jquery-skill,
#adobe-xd-skill,
#adobe-photoshop-skill,
#atomic-design-skill,
#bem-skill {
  opacity: 0;
}

/*.additional-samples-project.animate-1s,*/
/*.footer-card.animate-1s,*/
#ed-barton-ref.animate-1s,
#anna-flom-ref.animate-1s,
#agnes-azaryan-ref.animate-1s,
#html-skill.animate-1s,
#css-skill.animate-1s,
#javascript-skill.animate-1s,
#bootstrap-skill.animate-1s,
#foundation-skill.animate-1s,
#jquery-skill.animate-1s,
#adobe-xd-skill.animate-1s,
#adobe-photoshop-skill.animate-1s,
#atomic-design-skill.animate-1s,
#bem-skill.animate-1s {
  opacity: 1;
}

.animate-1s {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate-8 {
  animation-duration: 8s;
  animation-fill-mode: both;
}




/* bounceInUp */
@-webkit-keyframes bounceInUp {
  
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier( .215, .610, .355, 1.000 );
  }

  from {
    opacity: 0;
    transform: translate3d( 0, 3000px, 0 );
  }

  60% {
    opacity: 1;
    transform: translate3d( 0, -20px, 0 );
  }

  75% {
    transform: translate3d( 0, 10px, 0 );
  }

  90% {
    transform: translate3d( 0, -5px, 0 );
  }

  to {
    transform: translate3d( 0, 0, 0 );
  }

}

@keyframes bounceInUp {
  
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier( .215, .610, .355, 1.000 );
  }

  from {
    opacity: 0;
    transform: translate3d( 0, 3000px, 0 );
  }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }

  75% {
    transform: translate3d( 0, 10px, 0 );
  }

  90% {
    transform: translate3d( 0, -5px, 0 );
  }

  to {
    transform: translate3d( 0, 0, 0 );
  }

}

.bounceInUp {
  animation-name: bounceInUp;
}




/* fadeInDown */
@keyframes fadeInDown {

  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }

}

.fadeInDown {
  animation-name: fadeInDown;
}




/* fadeInLeft */
@-webkit-keyframes fadeInLeft {
  
  from {

    opacity: 0;
    -webkit-transform: translate3d( -100%, 0, 0 );
            transform: translate3d( -100%, 0, 0 );
  
  }

  to {

    opacity: 1;
    -webkit-transform: none;
            transform: none;
  
  }
}

@keyframes fadeInLeft {
  
  from {

    opacity: 0;
    -webkit-transform: translate3d( -100%, 0, 0 );
            transform: translate3d( -100%, 0, 0 );
  
  }

  to {

    opacity: 1;
    -webkit-transform: none;
            transform: none;
  
  }
}

.fadeInLeft {

  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;

}




/* fadeInRight */
@-webkit-keyframes fadeInRight {
  
  from {
  
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);

  }

  to {

    opacity: 1;
    -webkit-transform: none;
            transform: none;
  
  }

}

@keyframes fadeInRight {
  
  from {
  
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);

  }

  to {

    opacity: 1;
    -webkit-transform: none;
            transform: none;
  
  }

}

.fadeInRight {

  -webkit-animation-name: fadeInRight;
      animation-name: fadeInRight;
}




/* fadeInUp */
@keyframes fadeInUp {

  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }

}

.fadeInUp {
  animation-name: fadeInUp;
}

/* Skills Delays */
#skills-section .animate-delay-a {
  animation-delay: 150ms;
}

#skills-section .animate-delay-b {
  animation-delay: 300ms;
}

#skills-section .animate-delay-c {
  animation-delay: 450ms;
}

#skills-section .animate-delay-d {
  animation-delay: 600ms;
}

#skills-section .animate-delay-e {
  animation-delay: 750ms;
}

#skills-section .animate-delay-f {
  animation-delay: 900ms;
}

#skills-section .animate-delay-g {
  animation-delay: 1050ms;
}

#skills-section .animate-delay-h {
  animation-delay: 1200ms;
}

#skills-section .animate-delay-i {
  animation-delay: 1350ms;
}




/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .animate-delay-a {
    animation-delay: .25s;
  }

  .animate-delay-b {
    animation-delay: .5s;
  }

  .animate-delay-c {
    animation-delay: .75s;
  }

  .animate-delay-d {
    animation-delay: 1s;
  }

  .animate-delay-e {
    animation-delay: 1.25s;
  }

  .animate-delay-f {
    animation-delay: 1.5s;
  }

}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}