/* Fixed root font size for smallest screens */
html {
  font-size: 16px;
}

.font_size_body {
  font-size: 16px;
}

/* Font Ratio 1.125 (Major Second) for smallest screens */
.font_size_1 {
  font-size: 1em;
}

.font_size_2 {
  font-size: 1.125em;
}

.font_size_3 {
  font-size: 1.266em;
}

.font_size_4 {
  font-size: 1.424em;
}

.font_size_5 {
  font-size: 1.602em;
}

@media (min-width: 576px) {
  
  /* Fluid root font size for medium screens and up */
  html {
    font-size: 2vw;
  }

  /* Font Ratio 1.333 (Perfect Fourth) for larger screens */
  .font_size_2 {
    font-size: 1.333em;
  }

  .font_size_3 {
    font-size: 1.777em;
  }

  .font_size_4 {
    font-size: 2.369em;
  }

  .font_size_5 {
    font-size: 3.157em;
  }

}

/* Max Root Font Size */
@media (min-width: 1440px) {
  html {
    font-size: 28.8px;
  }
}