/* Current font ratios */
.font_size_tier-1 {
  font-size: 5.653em; /* 90px */
}

.font_size_tier-2 {
  font-size: 3.998em;
}

.font_size_tier-3 {
  font-size: 16px;
}

@media (min-width: 576px) {

  .font_size_tier-3 {
    font-size: 2.827em;
  }

}

.font_size_tier-4 {
  font-size: 16px;
}

@media (min-width: 576px) {

  .font_size_tier-4 {
    font-size: 1.999em;
  }

}

/* Tier 5 is not used */
.font_size_tier-5 {
  font-size: 16px;
}

@media (min-width: 576px) {

  .font_size_tier-5 {
    font-size: 1.414em; /* May need to move this to a higher breakpoint */
  }

}







/* New Ratio Code */

/* Use 1.125 (Major Second) for smallest screens */

html {
  font-size: 16px;
}

.font_size_body {
  font-size: 16px;
}

.font_size_1 {
  font-size: 1em;
}

.font_size_2 {
  font-size: 1.125em;
}

.font_size_3 {
  font-size: 1.266em;
}

.font_size_4 {
  font-size: 1.424em;
}

.font_size_5 {
  font-size: 1.602em;
}

.font_size_6 {
  font-size: 1.802em;
}

@media (min-width: 576px) {
  
  
  html {
    font-size: 2vw;
  }

  /* Switch to 1.333 (Perfect Fourth) for larger screens */
  .font_size_2 {
    font-size: 1.333em;
  }

  .font_size_3 {
    font-size: 1.777em;
  }

  .font_size_4 {
    font-size: 2.369em;
  }

  .font_size_5 {
    font-size: 3.157em;
  }

  .font_size_6 {
    font-size: 4.209em;
  }

}

/*@media (min-width: 1140px) {
  html {
    font-size: 22.8px;
  }
}*/

/* Max Root Font Size */
@media (min-width: 1440px) {
  html {
    font-size: 28.8px;
  }
}