/* Current font ratios */
.body_homepage {
  font-size: 4.5px; /* .28125em */
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {

  .body_homepage {
    font-size: .53125em; /* 8.5px */
  }

}

@media (min-width: 768px) {

  .body_homepage {
    font-size: .6875em; /* 11px */
  }

}

@media (min-width: 992px) {

  .body_homepage {
    font-size: 14.5px; /* .90625em */
  }

}

@media (min-width: 1200px) {

  .body_homepage {
    font-size: 16px; /* 1rem */
  }

}


.font_size_tier-1 {
  font-size: 5.653em; /* 90px */
}

.font_size_tier-2 {
  font-size: 3.998em;
}

.font_size_tier-3 {
  font-size: 16px;
}

@media (min-width: 576px) {

  .font_size_tier-3 {
    font-size: 2.827em;
  }

}

.font_size_tier-4 {
  font-size: 16px;
}

@media (min-width: 576px) {

  .font_size_tier-4 {
    font-size: 1.999em;
  }

}

/* Tier 5 is not used */
.font_size_tier-5 {
  font-size: 16px;
}

@media (min-width: 576px) {

  .font_size_tier-5 {
    font-size: 1.414em; /* May need to move this to a higher breakpoint */
  }

}







/* New Ratio Code */
html {
  font-size: 16px;
}

@media (min-width: 800px) {
  html {
    font-size: 2vw;
  }
}

@media (min-width: 1140px) {
  html {
    font-size: 22.8px;
  }
}

/*@media (min-width: 1440px) {
  html {
    font-size: 28.6px;
  }
}*/

.font_size_body {
  font-size: 16px;
}

.font_size_1 {
  font-size: 1em;
}

.font_size_2 {
  font-size: 1.125em;
}

@media (min-width: 800px) {
  .font_size_2 {
    font-size: 1.25em;
  }
}

.font_size_3 {
  font-size: 1.266em;
}

@media (min-width: 800px) {
  .font_size_3 {
    font-size: 1.563em;
  }
}

.font_size_4 {
  font-size: 1.424em;
}

@media (min-width: 800px) {
  .font_size_4 {
    font-size: 1.953em;
  }
}

.font_size_5 {
  font-size: 1.602em;
}

@media (min-width: 800px) {
  .font_size_5 {
    font-size: 2.441em;
  }
}

.font_size_6 {
  font-size: 1.802em; /* 1.125 */
}

@media (min-width: 800px) {
  .font_size_6 {
    font-size: 3.052em; /* 1.250 */
  }
}











