/* Headers: font-family: 'Open Sans', sans-serif; 
300,300i,400,400i,600,600i,700,700i,800,800i */

/* Body Copy: font-family: 'PT Sans', sans-serif; 
400,400i,700,700i */

#project-container h1 {
  font-family: 'Lato', sans-serif;
}

.main-name {
  display: block;
  font-size: 0.8rem;
  letter-spacing: 0.7rem;
  text-shadow: 20px 20px 8px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  z-index: 10;
}

.main-subheading {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0.5rem;
  text-shadow: 9px 9px 8px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  z-index: 10;
}

#project-container h2,
#project-container h3,
#project-container h4,
#project-container h5,
#project-container h6 {
  color: #808080;
  font-family: 'Open Sans', sans-serif;
}

#project-container {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

#project-container p {
  font-size: 16px;
}

#project-container h2 {
  font-size: 4.236em;
  text-align: center;
  text-transform: uppercase;
}

.subsection-name-container {
  overflow: hidden;
  text-align: center;
}

.subsection-name-container h3 {
  font-size: 2.618em;
}

.subsection-name {
  display: inline;
  position: relative;
  text-transform: uppercase;
}

.subsection-name::before,
.subsection-name::after {
  border-top: 1px solid #555;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}

.subsection-name::before {
  margin-right: 20px;
  right: 100%;
}

.subsection-name::after {
  left: 100%;
  margin-left: 1rem;
}

.project-title-box h4 {
  font-size: 1.618em;
  font-weight: 600;
  margin-bottom: 0;
  text-align: center;
}




/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {

  #project-container h4 {
    color: #fff;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .main-name {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1.3rem;
  }

  .main-subheading {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.75rem;
  }

}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .main-name {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 1.3rem;
  }

  .main-subheading {
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 0.75rem;
  }

}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .main-name {
    font-size: 4.5rem;
  }

  .main-subheading {
    font-size: 3rem;
  }

}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .main-name {
    font-size: 6rem;
  }

  .main-subheading {
    font-size: 4rem;
    letter-spacing: 1rem;
  }

}