footer {
  background: #000;
  text-align: center;
}

.icon-row {
  padding: 50px 0 20px 0;
}

footer a {
  color: #808080;
  transition: .3s;
}

footer a:hover,
footer a:active {
  color: #fff;
}

.footer-card {
  margin-bottom: 50px;
}

footer .fab,
footer .fas {
  font-size: 57px;
  margin-bottom: 10px;
}

.footer-text {
  color: #808080;
  margin-bottom: 35px;
}

.description p {
  margin-bottom: 0;
}




/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}