/*footer {
  background: #000;
  text-align: center;
}*/

/*.icon-row {
  padding: 50px 0 20px 0;
}*/

/*footer a {
  color: #808080;
  transition: .3s;
}

footer a:hover,
footer a:active {
  color: #fff;
}*/

/*.footer-card {
  margin-bottom: 50px;
}*/

/*footer .fab,
footer .fas {
  font-size: 57px;
  margin-bottom: 10px;
}*/

/*.description p {
  margin-bottom: 0;
}*/

.footer-text {
  color: #808080;
  margin-bottom: 35px;
}