:root {
  --sm-card-margin-top: -20px;
}

header { min-height: 100vh; }

#video-text-overlay {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

#video-background {
  /* Makes the video fullscreen */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100vh;
  width: auto;
  height: auto;
  z-index: -100;

  /*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  /* VIDEO PLAYS ON COMPUTER, BUT NOT ON IPHONE. SHOWS STILL IMG INSTEAD. */
  background: url(../video/tropical-1920x1080-min.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#project-container a,
#project-container a:active,
#project-container a:focus
#project-container a:hover,
#project-container a:link,
#project-container a:visited {
  text-decoration: none;
}

.center-container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.portfolio-project {
  margin-bottom: 100px;
}

.project-title-box {
  /*margin-top: var(--sm-card-margin-top);*/
}

.info-module {
  padding: 1em 0 0 0;
}




/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {

  #acura-of-tempe-project {
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/acura-of-tempe/2019-nsx/left-crop-576x630-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-project {
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/bmw-el-cajon/2019-x7/left-crop-576x630-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-project {
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/honda-new-rochelle/2018-accord/576x630-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mobile-card-centering {
    margin: 0 auto;
    width: 90%;
  }

  .portfolio-project-img-sm-container {
    height: 0;
    margin: 0 auto .5em auto;
    padding-bottom: 39%;
    position: relative;
  }

  .portfolio-project-img-sm {
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .3);
    height: 0;
    padding-bottom: 39%;
    position: absolute;
    top: var(--sm-card-margin-top);
    width: 100%;
  }

  #acura-of-tempe-img-sm {
    background: url(../img/acura-of-tempe/2019-nsx/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-img-sm {
    background: url(../img/bmw-el-cajon/2019-x7/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-img-sm {
    background: url(../img/honda-new-rochelle/2018-accord/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .info-module p {
    color: #fff;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .portfolio-project {
    margin-bottom: 25px;
  }

  .project-title-box {
    background: #fff;
    color: #000;
    margin: 0 auto -1.5em auto;
    padding: .5em 2em;
    position: relative;
    width: 85%;
    z-index: 2;
  }

  .info-module {
    background: #fff;
    border: none;
    color: #000;
    margin: -3.5% auto 0 auto;
    padding: 1.5rem 2rem;
    width: 85%;
  }

}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {

  .portfolio-project-img-md {
    height: 0;
    padding-bottom: 39%;
    width: 100%;
  }

  #acura-of-tempe-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/acura-of-tempe/2019-nsx/768x303-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/bmw-el-cajon/2019-x7/768x303-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/honda-new-rochelle/2018-accord/768x303-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .project-title-box {
    width: max-content;
  }

}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .portfolio-project-img-md {
    height: 0;
    padding-bottom: 39%;
    width: 100%;
  }

  #acura-of-tempe-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/acura-of-tempe/2019-nsx/992x391-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/bmw-el-cajon/2019-x7/992x391-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/honda-new-rochelle/2018-accord/992x391-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .portfolio-project {
    margin-bottom: 50px;
  }

  .portfolio-project-img-lg {
    height: 0;
    padding-bottom: 39%;
    position: relative;
    width: 100%;
  }

  .project-title-box h3 {
    text-align: center;
  }

  .info-module {
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: .5em;
    position: absolute;
    width: 40%;
  }

  .info-module-left {
    left: 3%;
  }

  .info-module-right {
    right: 3%;
  }

}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  #acura-of-tempe-img-lg {
    background: url(../img/acura-of-tempe/2019-nsx/1268x499-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-img-lg {
    background: url(../img/bmw-el-cajon/2019-x7/1268x499-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-img-lg {
    background: url(../img/honda-new-rochelle/2018-accord/1268x499-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #acura-of-tempe-img-lg {
    background: url(../img/acura-of-tempe/2019-nsx/1440x567-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-img-lg {
    background: url(../img/bmw-el-cajon/2019-x7/1440x567-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-img-lg {
    background: url(../img/honda-new-rochelle/2018-accord/1440x567-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}