html {
  font-size: 16px;
}

#project-container a,
#project-container a:active,
#project-container a:focus
#project-container a:hover,
#project-container a:link,
#project-container a:visited {
  text-decoration: none;
}

.global-btn-box {
  position: relative;
}

.global-btn {
  display: block;
  margin-bottom: 1em;
  text-align: center;
}

.cta-primary-btn-box {
  background: blue;
}

.cta-secondary-btn-box {
  background: gray;
}

.cta-primary-btn-box a,
.cta-secondary-btn-box a {
  color: #fff;
}




/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 576px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}