body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}




/* 1440px and up */
@media (min-width: 1440px) {

  .center-1440 {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  }

}