:root {
  --sm-card-margin-top: -20px;
}

/*#project-container a,
#project-container a:active,
#project-container a:focus
#project-container a:hover,
#project-container a:link,
#project-container a:visited {
  text-decoration: none;
}*/

#white-gradient-1 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .5) 100%);
  padding: 7em 0 3.5em 0;
  width: 100%;
}

#white-gradient-2 {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .5) 0, rgba(255, 255, 255, 1) 100%);
  padding: 1.5em 0 7em 0;
  width: 100%;
}

.solid-white-bg {
  background: #fff;
}

.professional-project {
  padding-bottom: 100px;
}

.professional-project:last-child {
  margin-bottom: 0;
}

.professional-info-module {
  padding: 1em 0 0 0;
}

.btn-box {
  padding: 1rem 0;
}

.shaded-bg {
  background: rgba(0, 0, 0, .3);
  padding-top: 100px;
}

.additional-samples-project {
  border-radius: 4px;
  box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, .3);
  margin: 0 auto 100px auto;
  width: 95%;
}

.additional-samples-img-sm-container {
  height: 0;
  margin: 0 auto .5em auto;
  padding-bottom: 39%;
  position: relative;
}

.additional-samples-img-sm {
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .3);
  height: 0;
  padding-bottom: 39%;
  position: absolute;
  top: var(--sm-card-margin-top);
  width: 100%;
}

.additional-samples-centering {
  margin: 0 auto;
  width: 90%;
}

#project-container .sample-info-module p {
  color: #000;
}






/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {

  .solid-white-bg {
    padding-bottom: 100px;
  }

  .professional-project {
    box-shadow: 20px 20px 20px 1px rgba(0, 0, 0, 0.3);
    margin: 0 auto 100px auto;
    padding-bottom: 0;
    width: 95%;
  }

  #acura-of-tempe-bg-blur {
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/acura-of-tempe/2019-nsx/left-crop-576x630-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
  }

  #bmw-el-cajon-bg-blur {
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/bmw-el-cajon/2019-x7/left-crop-576x630-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
  }

  #honda-new-rochelle-bg-blur {
    background-image: linear-gradient(rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .5) 100%), url(../img/honda-new-rochelle/2018-accord/576x630-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
  }

  .mobile-card-centering {
    margin: 0 auto;
    width: 90%;
  }

  .professional-project-img-sm-container {
    height: 0;
    margin: 0 auto .5em auto;
    padding-bottom: 39%;
    position: relative;
  }

  .professional-project-img-sm {
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, .3);
    height: 0;
    padding-bottom: 39%;
    position: absolute;
    top: var(--sm-card-margin-top);
    width: 100%;
  }

  #acura-of-tempe-img-sm {
    background: url(../img/acura-of-tempe/2019-nsx/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-img-sm {
    background: url(../img/bmw-el-cajon/2019-x7/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-img-sm {
    background: url(../img/honda-new-rochelle/2018-accord/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .professional-info-module p {
    color: #fff;
  }

  #my-portfolio-project {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/additional-samples/tcf-webdesign/center-crop-576x630-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #my-portfolio-img-sm {
    background: url(../img/additional-samples/tcf-webdesign/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #omnifood-project {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/additional-samples/omnifood/left-crop-576x630-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #omnifood-img-sm {
    background: url(../img/additional-samples/omnifood/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #author-site-project {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/additional-samples/author-site/left-crop-576x630-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #author-site-img-sm {
    background: url(../img/additional-samples/author-site/576x227-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .professional-project {
    padding-bottom: 25px;
  }

  .project-title-box {
    background: #fff;
    color: #000;
    margin: 0 auto -1.5em auto;
    padding: .5em 2em;
    position: relative;
    width: 85%; /* Fallback */
    width: max-content;
    z-index: 2;
  }

  .professional-info-module {
    background: #fff;
    border: none;
    color: #000;
    margin: -3.5% auto 0 auto;
    padding: 1.5rem 2rem;
    width: 85%;
  }

  .shaded-bg {
    padding-top: 125px;
  }

  #my-portfolio-project {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/additional-samples/tcf-webdesign/center-crop-768x840-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #my-portfolio-img-sm {
    background: url(../img/additional-samples/tcf-webdesign/768x302-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #omnifood-project {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/additional-samples/omnifood/left-crop-768x840-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #omnifood-img-sm {
    background: url(../img/additional-samples/omnifood/768x302-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #author-site-project {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(../img/additional-samples/author-site/left-crop-768x840-blur12px-min.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #author-site-img-sm {
    background: url(../img/additional-samples/author-site/768x302-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {

  .professional-project-img-md {
    height: 0;
    padding-bottom: 39%;
    width: 100%;
  }

  #acura-of-tempe-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/acura-of-tempe/2019-nsx/768x303-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/bmw-el-cajon/2019-x7/768x303-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/honda-new-rochelle/2018-accord/768x303-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .professional-project {
    padding-bottom: 50px;
  }

}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .professional-project-img-md {
    height: 0;
    padding-bottom: 39%;
    width: 100%;
  }

  #acura-of-tempe-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/acura-of-tempe/2019-nsx/992x391-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/bmw-el-cajon/2019-x7/992x391-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-img-md {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0, rgba(255, 255, 255, 0) 10%), url(../img/honda-new-rochelle/2018-accord/992x391-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #white-gradient-2 {
    padding: 1.5em 0 3.5em 0;
  }

  .professional-project {
    padding-bottom: 100px;
  }

  .professional-project-img-lg {
    height: 0;
    padding-bottom: 39%;
    position: relative;
    width: 100%;
  }

  .project-title-box h3 {
    text-align: center;
  }

  .professional-info-module {
    bottom: 0;
    margin-bottom: 0;
    padding-bottom: .5em;
    position: absolute;
    width: 40%;
  }

  .info-module-left {
    left: 3%;
  }

  .info-module-right {
    right: 3%;
  }

  .professional-project .btn-box {
    padding-top: 0;
  }

}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  #acura-of-tempe-img-lg {
    background: url(../img/acura-of-tempe/2019-nsx/1268x499-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-img-lg {
    background: url(../img/bmw-el-cajon/2019-x7/1268x499-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-img-lg {
    background: url(../img/honda-new-rochelle/2018-accord/1268x499-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  #acura-of-tempe-img-lg {
    background: url(../img/acura-of-tempe/2019-nsx/1440x567-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #bmw-el-cajon-img-lg {
    background: url(../img/bmw-el-cajon/2019-x7/1440x567-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #honda-new-rochelle-img-lg {
    background: url(../img/honda-new-rochelle/2018-accord/1440x567-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .shaded-bg {
    padding-top: 150px;
  }

}