.walkthrough-intro__left {
  box-sizing: border-box;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-bottom: 15px;
  max-width: 100%;
  min-height: 1px;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {

  .walkthrough-intro__left {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

}

@media (min-width: 992px) {

  .walkthrough-intro__left {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    margin-top: -100px;
    max-width: 41.666667%;
    z-index: 2;
  }

}