.professional-reference__main_cite {
  background-color: #401708;
  border: 3px solid #f8ebd8;
  border-radius: 5px;
  color: #f8ebd8;
  display: block;
  margin: -60px auto 50px auto;
  padding: 10px 5px 16px 5px;
  width: 85%;
}