.body_homepage {
  font-size: 4.5px; /* .28125em */
}




/* Bootstrap Breakpoints */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .body_homepage {
    font-size: .53125em; /* 8.5px */
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .body_homepage {
    font-size: .6875em; /* 11px */
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .body_homepage {
    font-size: 14.5px; /* .90625em */
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .body_homepage {
    font-size: 16px; /* 1rem */
  }

}