.body_homepage {
  font-size: 4.5px; /* .28125em */
  margin: 0;
  padding: 0;
}

@media (min-width: 576px) {

  .body_homepage {
    font-size: .53125em; /* 8.5px */
  }

}

@media (min-width: 768px) {

  .body_homepage {
    font-size: .6875em; /* 11px */
  }

}

@media (min-width: 992px) {

  .body_homepage {
    font-size: 14.5px; /* .90625em */
  }

}

@media (min-width: 1200px) {

  .body_homepage {
    font-size: 16px; /* 1rem */
  }

}