.body_homepage {
  font-size: 4.5px; /* .28125em */
}




/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {

  /* Font size overrides for extra small only */
  #project-container h2 {
    font-size: 5em;
  }

  #project-container h3 {
    font-size: 4em;
  }

  #project-container h4 {
    font-size: 3.5em;
    margin-bottom: .5em;
  }

  #professional-section h4 {
    color: #fff;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

  .body_homepage {
    font-size: .53125em; /* 8.5px */
  }

}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {

  /* Font size override */
  #project-container h4 {
    font-size: 2.75em;
  }
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .body_homepage {
    font-size: .6875em; /* 11px */
  }

}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .body_homepage {
    font-size: 14.5px; /* .90625em */
  }

  #project-container .sample-info-module h4 {
    font-size: 1.5em;
  }

}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .body_homepage {
    font-size: 16px; /* 1rem */
  }

}