:root {
  --header-icon-size: 100px;
  --header-icon-size-neg: -100px;
}

.center-1440 {
  margin: 0 1em;
}

.header-layout-box {
  position: relative;
  width: 100%;
}

.header-icon-invisible {
  display: inline-block;
  height: var(--header-icon-size);
  margin: 0 2em 1em 0;
  position: relative;
  width: var(--header-icon-size);
}

.header-icon-visible {
  border: 8px solid var(--dark-gray-o);
  border-radius: 5%;
  color: var(--dark-gray-o);
  height: var(--header-icon-size);
  position: relative;
  text-align: center;
  transition: .3s;
  width: 100%;
  z-index: 2;
}

.header-icon-visible:hover {
  border: 8px solid var(--dark-gray);
  color: var(--dark-gray);
}

.header-icon-contents {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.header-icon i {
  display: block;
  font-size: calc(var(--header-icon-size) / 2);
}

.header-icon-text {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.header-main-img-container {
  margin-bottom: 1.5em;
  position: relative;
  z-index: 1;
}

.header-main-img {
  position: relative;
  height: 0;
  padding-bottom: 39%;
  width: 100%;
}

.objective,
.process {
  background: rgb(153, 153, 153);
  color: #fff;
  margin-bottom: 1.5em;
  padding: 2em;
}

.global-btn-box {
  margin-bottom: 0;
}




/* Bootstrap Breakpoints */
/* Extra Small devices only (landscape phones, below 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Small devices only (landscape phones, between 576px and 768px) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Medium devices only (tablets, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .header-icon-invisible {
    display: block;
    margin: 0;
    position: absolute;
  }

  #home-header-icon-invisible {
    left: 0;
    top: calc(var(--header-icon-size-neg) / 2);
  }

  #live-site-header-icon-invisible {
    top: calc(var(--header-icon-size-neg) / 2);
    right: 0;
  }

  #github-header-icon-invisible {
    top: calc(var(--header-icon-size) * .75); /* Is actually Calc (width + (width * .25)), which works out to width * .75 */
    right: 0;
  }

  .header-main-img-container {
    margin: calc(var(--header-icon-size) / 2);
    margin-bottom: 30px;
  }

  .objective {
    margin-top: -100px;
    position: relative;
    z-index: 2;
  }

  .process {
    margin-right: calc(var(--header-icon-size) / 2);
  }

}

/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  :root {
    --header-icon-size: 150px;
    --header-icon-size-neg: -150px;
  }

}