.additional-samples-section__project_omnifood {
  opacity: 0; /* Invisible before the animation is triggered */
}

.additional-samples-section__project_omnifood.additional-samples-section__project_omnifood_effects {
  opacity: 1; /* Keeps this card visible after the animation is completed */
}

@media (max-width: 575.98px) {

  .additional-sample__backboard_omnifood {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-576x630-blur12px-min.jpg);
    /*background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;*/
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .additional-sample__backboard_omnifood {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-768x840-blur12px-min.jpg);
    /*background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;*/
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .additional-sample__backboard_omnifood {
    background-image: linear-gradient(rgba(255, 255, 255, .75) 0, rgba(255, 255, 255, .75) 100%), url(left-crop-576x630-blur12px-min.jpg);
    /*background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;*/
  }

}