.heading__title-tag_title {
  display: inline;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
}

.heading__title-tag_title::before,
.heading__title-tag_title::after {
  border-top: 1px solid #808080;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
}

.heading__title-tag_title::before {
  margin-right: 20px;
  right: 100%;
}

.heading__title-tag_title::after {
  left: 100%;
  margin-left: 1rem;
}