/* Background fallback in case video doens't load */
.header__video-background {
  background-attachment: fixed;
  background-image: url(../../../video/tropical-1920x1080-min.jpg);
  background-position: bottom right;
  background-size: cover;
  bottom: 0;
  height: auto;
  min-height: 100vh;
  min-width: 100%; 
  position: fixed;
  right: 0; 
  width: auto;
  z-index: -100;
}