/* Large devices only (desktops, between 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {

  .professional-section__project_name_acura-of-tempe_img_lg {
    background: url(1268x499-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  .professional-section__project_name_acura-of-tempe_img_lg {
    background: url(1440x567-min.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

}