.background_theme_wood-panel {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 575.98px) {

  .background_theme_wood-panel {
    background-image: url(576x384-min.jpg);
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  .background_theme_wood-panel {
    background-image: url(768x512-min.jpg);
  }

}

@media (min-width: 768px) and (max-width: 991.98px) {

  .background_theme_wood-panel {
    background-image: url(992x661-min.jpg);
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {

  .background_theme_wood-panel {
    background-image: url(1200x800-min.jpg);
  }

}

@media (min-width: 1200px) {

  .background_theme_wood-panel {
    background-image: url(2500x1667-semi-min.jpg);
  }

}