.widescreen-project__button-trio_btn-3 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
  /*padding-right: 15px;
  padding-left: 15px;*/
  position: relative;
  width: 100%;
}