.professional-reference__main_cite-link,
.professional-reference__main_cite-link:link,
.professional-reference__main_cite-link:visited {
  border-bottom: 1px solid #f8ebd8;
  color: #f8ebd8;
  text-decoration: none;
  transition: 300ms;
}

.professional-reference__main_cite-link:active,
.professional-reference__main_cite-link:focus,
.professional-reference__main_cite-link:hover {
  border-bottom: 1px solid #fff;
  color: #fff;
}